/*
+****************/
/** perso **/
/*****************/

/* Page */
/*.global {
	max-width: 1400px;
	margin: 0 auto;
}*/

[class*="col-"] {
	/*border: 1px solid black;*/
	border-radius: 4px;
}

.form-group {
	margin-bottom: 30px;
}

.formulaire-infirmier .form-control {
	max-width: 300px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.no-border {
	border: 0;
}

/* Profil utilisateur connecté*/
/**
 * Profile image component
 */
 
.profile-title {
	text-align: center;
}
 
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #2e9fe5;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #2e9fe5;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

#message-infos-login {
	margin-top: 20px;
}

.img-logo {
	max-width: 100px;
}

.container-fluid {
	margin-left:0;
	margin-right:0;
    padding-left: 0;
    padding-right: 0;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

body {
	background: url(../image/bg.jpg) no-repeat center center fixed; 
	color: white;
}

@media ( max-width : 768px) {
	.container-fluid>.navbar-header {
	    margin-right: 15px;
	    margin-left: 15px;
	}
	
	.container-fluid>.navbar-collapse {
	    margin-right: 15px;
	    margin-left: 15px;
	}
}

.modal {
	color : black;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

footer {
	background-color: grey;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
}

.well {
	color : white;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	background-color: #172C3A;
}
