/*
+****************/
/** perso **/
/*****************/

/* Page */
/*.global {
	max-width: 1400px;
	margin: 0 auto;
}*/

[class*="col-"] {
	border: 1px solid black;
	border-radius: 4px;
}

footer {
	margin-top: 50px;
	position: relative;
	bottom: 0;
	left: 0;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.footer-basic-centered {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 20px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto {
	color: #8d9093;
	font-size: 16px;
	margin: 0;
}

.footer-basic-centered .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links {
	font-size: 14px;
	list-style: none;
	font-weight: bold;
	color: #ffffff;
	padding: 15px 0 16px;
	margin: 0;
}

.footer-basic-centered .footer-links a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media ( max-width : 600px) {
	.footer-basic-centered {
		padding: 10px;
	}
	.footer-basic-centered .footer-company-motto {
		font-size: 12px;
	}
	.footer-basic-centered .footer-company-name {
		font-size: 12px;
	}
	.footer-basic-centered .footer-links {
		font-size: 12px;
		padding: 10px 0 14px;
	}
	.footer-basic-centered .footer-links a {
		line-height: 1.1;
	}
}

.no-border {
	border: 0;
}

/* Profil utilisateur connecté*/
/**
 * Profile image component
 */
 
.profile-title {
	text-align: center;
}
 
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #2e9fe5;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #2e9fe5;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}
